.footer {

    &-container {
        position: relative;
        margin: 0 15px;
        overflow: hidden;
        height: 265px;
        text-align: center;
        align-content: end;
        background: radial-gradient(ellipse at 50% 50%, #ade6eb 0%, #FFF 70%);

        @media (min-width: 960px) {
            margin: 0;
            height: 350px;
            max-width: 1024px;
            background: radial-gradient(ellipse at 50% 60%, #ade6eb, #FFF, #FFF);
        }
    }

    &-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }

    &-title {
        font-size: 24px;

        @media (min-width: 960px) {
            font-size: 40px;
        }
    }

    &-subtitle {
        margin-bottom: 5px;
        font-size: 16px;

        @media (min-width: 960px) {
            margin: 0;
            font-size: 32px;
        }
    }

    &-icons {
        display: flex;
        flex-direction: row;
        gap: 100px;
        justify-content: center;
        padding-bottom: 50px;
    }

    &-icon {
        position: relative;
        width: 32px;
        height: 32px;
    }
}