<div class="navbar">
    <button
        (click)="toggleMenu()"
        class="navbar-btn"
    >
    <img src="assets/svg/Menu.svg">
    </button>

    <div class="navbar-content" [ngClass]="{'open': isMenuOpen}">
        <a
        *ngFor="let item of navbarItems"
        (click)="goToSection(item.hrefId)"
        class="navbar-content-item"
    >
        {{item.name}}
    </a>
      <a href="assets/CV-AnnaRuizBlazquez.pdf" class="navbar-content-item" type="application/pdf" target="_blank">CV</a>
</div>
</div>