.navbar {
    z-index: 20;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    position: static;
    

    @media (min-width: 960px) {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        min-height: 80px;
        background-color: #effafb85;;
        backdrop-filter: blur(10px);
    }


&-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    position: fixed;
    top: 20px;
    right: 10px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 100%;
    color: #081F21;
    background-color: #BDEBEF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    filter: drop-shadow(0px 0px 2px #2FB7C3);

    img {
        width: 20px;
        height: 20px;
    }

    @media (min-width: 960px) {
        display: none;
    }
}
}

.navbar-content {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80vh;
    max-width: 450px;
    gap: 20px;
    opacity: 0;
    align-items: center;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform .8s ease-in, opacity .5s ease-in;

@media (min-width: 960px) {
    width: 100vw;
    height: 80px;
    opacity: 1;
    max-width: 1024px;
    margin: 0 auto;
    transform: none;
    justify-content: space-evenly;

}

    @media (min-width: 1440px) {
        justify-content: space-between;
    }
}

.open {

&.navbar-content {
    z-index: 20;
    display: flex;
    position: fixed;
    margin: 10px auto;
    padding-top: 50px;
    top: 50px;
    left: 10px;
    right: 10px;
    flex-direction: column;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    opacity: 1;
    transform: translateX(0);
}

.navbar-content-item {
    display: inline;

    &:last-child {
        margin: 0 auto;
    }
}

}

.navbar-content-item {
display: none;
padding: 5px;
cursor: pointer;
color: #040F10;
font-size: 24px;
font-weight: 500;
text-decoration: none;
transition: color .2s ease-in-out;

@media (min-width: 960px) {
    display: inline;
    min-width: 130px;

    &:last-child {
        min-width: auto;
    }
}

&:hover {
    color: #103E42;
}

&:last-child {
    margin: 0;
    padding: 0 20px;
    color: #081F21;
    background-color: #EFFAFB;
    border: 2px solid #2FB7C3;
    border-radius: 20px;
    text-align: center;
    transition: .6s transform ease-in-out, .2s filter ease-in-out;

    &:hover {
        color: #103E42;
        filter: drop-shadow(0px 0px 10px #2FB7C3);
        transform: scale(1.1);
    }
}
}