<div class="header" id="SobreMi">
    <div class="header-text-container">
        <div class="header-title">Hola <span class="salute-emoji">👋</span> </div>
        <div class="header-subtitle">
            <p>Soy Anna</p>
            <p>Desarrolladora Frontend Junior</p>
        </div>
    </div>

  <div class="header-img">
        <img class="anna-icon" src="assets/images/icon-anna.jpeg"/>

        <contact-rrss></contact-rrss>
        <a class="contact-btn" href="mailto:anna.ruiz.dev@gmail.com">
            Contáctame
        </a>
    </div>
</div>