.header {
    display: flex;
    flex-direction: column;
    padding-top: 50px ;
    gap: 60px;
    justify-content: center;
    text-align: center;

    @media (min-width: 768px) {
        flex-direction: row;
        text-align: left;
    }

    &-text-container {
        text-align: left;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &-title {
        display: inline-flex;
        gap: 20px;
        font-size: 48px;

        @media (min-width: 960px) {
            font-size: 60px;
        }
    }

    &-subtitle {
        font-size: 32px;

        p:last-child {
            font-size: 24px;
        }

        @media (min-width: 960px) {
            font-size: 60px;
        }
    }

    &-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        margin: 10px 0;
        font-size: 32px;

        @media (min-width: 960px) {
            font-size: 40px;
        }
    }
}

.header-img .anna-icon {
    max-width: 260px;
    max-height: 235px;
    border-radius: 50%;
    border: 1px solid #2FB7C3;
}

.contact-btn {
    padding: 5px 10px;
    max-width: 150px;
    color: #081F21;
    background-color: #EFFAFB;
    border: 1px solid #2FB7C3;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    transition: .6s transform ease-in-out, .2s filter ease-in-out;

    &:hover {
        filter: drop-shadow(0px 0px 10px #BDEBEF);
        transform: scale(1.1);
    }
}

.salute-emoji {
    z-index: 0;
    font-family: "Noto Color Emoji", sans-serif;
    animation: salute 3.5s linear infinite;
}

@keyframes salute {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(25deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}