<h2 id="Proyectos">Proyectos</h2>

<div *ngFor="let project of projectItems" class="project-card">

    <div class="link-icons">
        <a *ngIf="project.urlGithub" [href]="project.urlGithub">
            <img  class="github-logo" src="assets/svg/Github-logo.svg">
        </a>
        <a *ngIf="project.urlDemo" [href]="project.urlDemo">
            <img  class="demo-logo" src="assets/svg/Open-demo.svg">
        </a>
        <img *ngIf="!project.urlGithub" class="under-construction-logo" src="assets/svg/tool.svg">
    </div>

    <div class="project-card-title">{{project.title}}</div>
    <div class="project-card-subtitle">{{project.subtitle}}</div>
        
    <div class="project-card-img">
        <img [src]="project.img[0]">
    </div>

</div>