<div class="container">
  <div class="navbar">
        <button
            (click)="toggleMenu()"
            class="navbar-btn"
        >
            <svg width="800px" height="800px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none">
                <path fill="#FFF" fill-rule="evenodd" d="M19 4a1 1 0 01-1 1H2a1 1 0 010-2h16a1 1 0 011 1zm0 6a1 1 0 01-1 1H2a1 1 0 110-2h16a1 1 0 011 1zm-1 7a1 1 0 100-2H2a1 1 0 100 2h16z"/>
            </svg>
        </button>

        <div class="navbar-content" [ngClass]="{'open': isMenuOpen}">
            <a
            *ngFor="let item of navbarItems"
            (click)="goToSection(item.hrefId)"
            class="navbar-content-item"
        >
            {{item.name}}
        </a>
          <div class="navbar-content-item">CV</div>
    </div>
  </div>

  <div class="header" id="SobreMi">
      <div class="header-text">
          <div class="header-title">Hola <span class="salute-emoji">👋</span> </div>
          <p>Soy Anna</p>
      </div>

    <div class="header-img">
        <img class="anna-icon" src="/assets/resources/icon-anna.jpeg"/>
        <div class="header-img-rrss">
            <a class="header-img-rrss--svg" href="mailto:anna.ruiz.dev@gmail.com">
                <img src="/assets/resources/email.png"/>
            </a>
            <a class="header-img-rrss--svg linkedin" href="https://www.linkedin.com/in/anna-ruiz-bl/">
                <img src="/assets/resources/linkedin.png"/>
            </a>
            <a class="header-img-rrss--svg" href="https://github.com/annruiblaz">
                <img src="/assets/resources/github-mark.png"/>
            </a>
    </div>

          <div class="contact-btn">
              Contáctame
          </div>
      </div>
  </div>

  <div  class="experience" id="Experiencia">
      <h2>Experiencia Laboral</h2>


      <div class="experience-content">
          <div *ngFor="let item of experienceInfo" class="card experience-content-item">
              <p class="experience-title">{{item.title}}</p>
              <p class="experience-company">{{item.company}}</p>
              <p class="experience-dates">{{item.dates}}</p>
          </div>
      </div>
  </div>

  <div class="stack" id="Tecnologias">
      <h2>Tecnologías</h2>
      <div class="stack-caroussel">
          <div class="carousel-track">
            <img 
                *ngFor="let logo of logosInfo"
                [src]="logo.src"
                [alt]="logo.alt"
            >
          </div>

      </div>
  </div>
</div>
