body.no-scroll {
    position: fixed;
    overflow-y: hidden;
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 1440px;
    min-width: 250px;
    position: static;
}