.stack-container {
    position: relative;
    width: 100%;
    padding: 20px 0 50px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center;

    @media (min-width: 960px) {
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 100px;
    }

    img {
        width: 80px;
        height: 80px;
        transition: filter .3s ease-in-out;
        filter: var(--drop-shadow);

        &:hover {
            filter: none;

            @media (min-width: 960px) {
                filter: var(--drop-shadow);
            }
        }
    }
}