@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Istok Web';
}

body {
    margin: 0;
    padding: 0;
}

body.no-scroll {
    position: fixed;
    overflow-y: hidden;
    width: 100%;
}

h2 {
    font-size: 32px;
    text-align: center;

    @media (min-width: 960px) {
        font-size: 48px;
    }
}